*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{  
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  padding: 10px;
  box-shadow: 0px 5px 20px black;
  flex-wrap: wrap;
  align-items: center;


}

body{
  background-color: #1a1a1a;
}

.logo img{
  width: 50px;
  height: 50px;

}
.menu{

  list-style: none;

  display: flex;
  flex-wrap: wrap;
  

}

.menu li a{

  list-style: none;

  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  margin-left: 10px;
  align-content: center;

}

.menu li a:hover{

  list-style: none;

  display: block;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  align-content: center;
  background-color: #333;

}

h1{
  text-align: center;
  color: white ;
  margin: 20px;
}

img{
  width: 100%;
  border-radius: 10px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  
}

.container div{
  flex: 1 1 150px ;
  margin: 10px;
  background-color: #101010;
  box-shadow: 0px 5px 20px black;
  padding: 10px;
}

.container p{
  color: #fff;
  text-align: center;
}

.container h3{
  color: #fff;
  text-align: center;
}

.container a{
  color: #fff;
  text-align: center;
}


