*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{  
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  padding: 10px;
  box-shadow: 0px 5px 20px black;
  flex-wrap: wrap;
  align-items: center;


}

body{
  background-color: #1a1a1a;
}

.logo img{
  width: 50px;
  height: 50px;

}
.menu{

  list-style: none;

  display: flex;
  flex-wrap: wrap;
  

}

.menu li a{

  list-style: none;

  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  margin-left: 10px;
  align-content: center;

}

.menu li a:hover{

  list-style: none;

  display: block;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  align-content: center;
  background-color: #333;

}

section.slider{
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
}

.slider-content{
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input, .img-mobile{
  
  display: none;
}

.slide-box{

  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;

}
.slide-box img{
 width: 100%;
}

.nav-manual, .nav-auto{
  position: absolute;
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
 border: 1px solid white;
 padding: 10px;
 border-radius: 50%;
 cursor: pointer;
 transition: 0.5s;
}
 
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
  margin-right: 10px;
 }

 .nav-manual .manual-btn:hover{
  background-color: white;

 }

 #radio1:checked ~ .nav-auto .auto-btn1,  #radio2:checked ~ .nav-auto .auto-btn2,#radio3:checked ~ .nav-auto .auto-btn3{

  background-color: white;
 }

 #radio1:checked ~ .primeiro{

  margin-left: 0%;
 
 }

 #radio2:checked ~ .primeiro{

  margin-left: -25%;
 
 }
 #radio3:checked ~ .primeiro{

  margin-left: -50%;
 
 }
 @media screen and (max-width:900px) {
  .img-desktop{
    display: none;
  }
  .img-mobile{
    display: block;
  }
  .nav-manual, .nav-auto{
    margin-top: 60%;
  }
 }