.loading{
  background: rgba(0,0,0,0.5);
  position: fixed;
  color:#fff;
  width: 100%;
  height: 100%;
}
.loading label{
  font-size: 32px;
}

body{
  background-color: #0e9271;
  margin: 0;
  height: 100vh;
}

button:active{
    opacity: 0.8;
  }
  button[disabled]{
    opacity: 0.7;
  }
  
.centralizar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear{
    background-color: transparent;
    border: none;
    color: white;
  }
  
  .solid{
    background-color: white;
    border: none;
    border-radius: 5px;
  }
  .outline{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
  }

.error{
    color: white;
    background-color: red;
    display: none;
  }
  .form_fild{
    margin-bottom: 10px;
  }

  input,button{
    color: black;
    padding: 10px;
    
    width: -webkit-fill-available;
  }
  form{
    width: 300px;
  }