*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{  
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  padding: 10px;
  box-shadow: 0px 5px 20px black;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;


}
body{
  background-color: #1a1a1a;
  margin: 0;
}

.section_form{
  background-color: #1a1a1a;
  height:  100vh;
 

}

.logo img{
  width: 50px;
  height: 50px;

}
.menu{

  list-style: none;

  display: flex;
  flex-wrap: wrap;
  

}

.menu li a{

  list-style: none;

  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  margin-left: 10px;
  align-content: center;

}

.menu li a:hover{

  list-style: none;

  display: block;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  align-content: center;
  background-color: #ffc4008c;

}


label{
  color: white;

}

form{
  width: 300vh;
}
button{
  cursor: pointer;
  margin-bottom: 10px;
  
}

.form_fild{
  margin-bottom: 10px;
}

input,button{
  color: black;
  padding: 10px;
  
  width: -webkit-fill-available;
}


