*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
}

.section_form{
  background-color: #1a1a1a;
  height:  100vh;
}

label{
  color: white;
}

button{
  cursor: pointer;
  margin-bottom: 10px;
}




